* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(226, 226, 241);
    letter-spacing: normal;
    font-size: 0.8em;
}

.container {
    display: grid;
    grid-template-columns: auto;
    max-width: 460px;
    margin: 0 auto;
    padding: 80px;
}

.title-text {
    grid-column: start;
}

#get-weather {
    margin: 15px;
}

#day-night {
    border: 1px solid black;
    overflow: hidden;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.hidden,
.off {
    visibility: hidden;
}

#weather-icon {
    border: 5px solid black;
    border-radius: 50px;
}
