* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(226, 226, 241);
    letter-spacing: normal;
    font-size: 0.8em;
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-width: 460px;
    margin: 0 auto;
    padding: 20px;
    background-color: pink;
}

.title-text {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.change-location {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: blue;
}

.input-fields {
    display: flex;
}

#add-location {
    border: 2 px black;
    border-radius: 50px;
}

#get-weather {
    margin: 15px;
    background-color: yellow;
}

#day-night {
    border: 1px solid black;
    overflow: hidden;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.hidden,
.off {
    visibility: hidden;
}

#weather-icon {
    border: 5px solid black;
    border-radius: 50px;
}
